<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Add Products</title>

  <!-- Bootstrap Core CSS -->
  {% load staticfiles %}
  <link href="{% static 'users/css/bootstrap.css' %}" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="{% static 'users/css/style.css' %}" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--   [if lt IE 9]> -->
    <script href="{% static 'https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js' %}"></script>
    <script href="{% static 'https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js' %}"></script>
<!--   <![endif]
 --></head>

 <body>
  <!-- Navigation -->
  <nav class="navbar-inverse" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="ecommerce.html">(re)define Photography Supply</a>
      </div>
       <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">   
        <a href="{% url 'users:manage' %}">Orders</a>
    <ul class="nav navbar-nav navbar-right">
          <li>{{user.first_name}} {{user.last_name}}</li>
          <li><a href="#"><span class="badge pull-right">4</span><i class="glyphicon glyphicon-shopping-cart"></i></a></li>
          <li><a href="account.html"><i class="glyphicon glyphicon-user"></i></a></li>
          <li><a href="{% url 'users:logout' %}" data-toggle="modal" data-target="#myModal">Log Out</a></li>
        </ul>
		</div><!-- /.navbar-collapse -->
    </div> <!-- /.container-fluid -->
  </nav>
  <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add new product</h4>
      </div>
      <div class="modal-body">
        <form action="/addproduct" method="POST">
        <fieldset>
        <form action="{% url 'products:upload_pic' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
    <p>
        <input id="id_image" type="file" class="" name="image">
    </p>
    

           <input type="text" class="form-control" placeholder="Product name" name="product_name"/>
         
            <input type="text" class="form-control" placeholder="Price" name="product_price"/>
          <input type="text" class="form-control" placeholder="product category" name="product_cat"/>
          <input type="text" class="form-control" placeholder="Tags (Please seperate each tag with a comma. Example: Black,33mm,Digital,etc)" name="product_tags"/>
          <br>
           <input type="text" class="descriptor"  placeholder="product description" name="product_desc"/>

        </form>
        </fieldset>
            </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
   <!-- Modal -->
  <!-- <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h2 class="modal-title" id="myModalLabel">Sign in</h2>
        </div>
        <div class="modal-body">
          <form class="form-signin" role="form">
            <h3 class="form-signin-heading">Sign in with your email address</h3>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Email address" required autofocus>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Password" required>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          </form>
        </div>

        <div class="row">
          <div class="col-xs-3">
            <a href="#" class="btn btn-facebook btn-large btn-caps btn-block">First time shopping with us? Please click here to register. <span class="icon-facebook"></span></a>
          </div>
          <div class="col-xs-3">
            <a href="" class="btn btn-lg btn-caps btn-block"> <span class="icon-dribbble"></span></a>
          </div>
        </div>

        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>   -->
  
  <!-- Page Content -->
  <div id="content" class="container">
   <div class="row">
     <div class="col-md-3">
        <h3 class="">Admin Options</h3>
        <div class="list-group">
          <a href="products.html" class="list-group-item">Add / Edit Products</a>
          <a href="orders.html" class="list-group-item">Manage Orders</a>
  
        </div>
      </div>
	 <div class="col-md-9">

        <h3>All Products</h3>
  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="myModal">
  Add new product
</button>


        <div class="thumbnail">
          <div class="row">
            <div class="col-sm-1">
              <img class="img-responsive" src="http://placehold.it/750x600" alt="" />
            </div>
            <div class="col-sm-4">
              <a href="product.html">Product Name</a>
            </div>
            <div class="col-sm-1">
             inventory
            </div>
            <div class="col-sm-2">
              price
            </div>
            <div class="col-sm-2">
              <button class="btn btn-sm btn-danger">Delete</button>
            </div>
            <div class="col-sm-2">
              <a href="#">Edit</a>
            </div>
          </div>
        </div>
	       <div class="thumbnail">
          <div class="row">
            <div class="col-sm-1">
              <img class="img-responsive" src="http://placehold.it/750x600" alt="" />
            </div>
            <div class="col-sm-4">
              <a href="product.html">Product Name</a>
            </div>
            <div class="col-sm-1">
             inventory
            </div>
            <div class="col-sm-2">
              price
            </div>
            <div class="col-sm-2">
              <button class="btn btn-sm btn-danger">Delete</button>
            </div>
            <div class="col-sm-2">
              <a href="#">Edit</a>
            </div>
          </div>
        </div>
		
		<div class="thumbnail">
          <div class="row">
            <div class="col-sm-1">
              <img class="img-responsive" src="http://placehold.it/750x600" alt="" />
            </div>
            <div class="col-sm-4">
              <a href="product.html">Product Name</a>
            </div>
            <div class="col-sm-1">
             inventory
            </div>
            <div class="col-sm-2">
              price
            </div>
            <div class="col-sm-2">
              <button class="btn btn-sm btn-danger">Delete</button>
            </div>
            <div class="col-sm-2">
              <a href="#">Edit</a>
            </div>
          </div>
        </div>
		
		      <div class="thumbnail">
          <div class="row">
            <div class="col-sm-1">
              <img class="img-responsive" src="http://placehold.it/750x600" alt="" />
            </div>
            <div class="col-sm-4">
              <a href="product.html">Product Name</a>
            </div>
            <div class="col-sm-1">
             inventory
            </div>
            <div class="col-sm-2">
              price
            </div>
            <div class="col-sm-2">
              <button class="btn btn-sm btn-danger">Delete</button>
            </div>
            <div class="col-sm-2">
              <a href="#">Edit</a>
            </div>
          </div>
        </div>
	     <div class="thumbnail">
          <div class="row">
            <div class="col-sm-1">
              <img class="img-responsive" src="http://placehold.it/750x600" alt="" />
            </div>
            <div class="col-sm-4">
              <a href="product.html">Product Name</a>
            </div>
            <div class="col-sm-1">
             inventory
            </div>
            <div class="col-sm-2">
              price
            </div>
            <div class="col-sm-2">
              <button class="btn btn-sm btn-danger">Delete</button>
            </div>
            <div class="col-sm-2">
              <a href="#">Edit</a>
            </div>
          </div>
        </div>
		        <div class="thumbnail">
          <div class="row">
            <div class="col-sm-1">
              <img class="img-responsive" src="http://placehold.it/750x600" alt="" />
            </div>
            <div class="col-sm-4">
              <a href="product.html">Product Name</a>
            </div>
            <div class="col-sm-1">
             inventory
            </div>
            <div class="col-sm-2">
              price
            </div>
            <div class="col-sm-2">
              <button class="btn btn-sm btn-danger">Delete</button>
            </div>
            <div class="col-sm-2">
              <a href="#">Edit</a>
            </div>
          </div>
        </div>
	   <div class="col-sm-12 center">
          <ul class="pagination">
            <li class="disabled"><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
          </ul>
        </div>
	 </div>
   </div>	  
  </div>  <!-- div element with the content as id and a .container class -->
  
  <!-- jQuery Version 1.11.0 -->
  <script href="{% static 'users/js/jquery-1.11.1.js' %}"></script>

  <!-- Bootstrap Core JavaScript -->
  <script href="{% static 'users/js/bootstrap.js' %}"></script>
 </body>
</html>