<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>(re)define Photography</title>
  {% load staticfiles %}

  <!-- Bootstrap Core CSS -->
   <link rel="stylesheet" href="{% static 'products/css/bootstrap.css' %}"media="screen" title="no title"  charset="utf-8">


  <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'products/css/style.css' %}"media="screen" title="no title"  charset="utf-8">


  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

 <body>
 <div id="fixer">

   <!-- Navigation -->

  <nav class="navbar-inverse" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
         <a class="navbar-brand" href={%url 'products:index' %}>(re)define Photography Supply</a>
      </div>
       <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#"  class="active dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              {% for category in categories %}
              <li><a href="#">{{category.name}}</a></li>
              {% endfor %}
<!--               <li><a href="category.html">Digital Cameras</a></li>
              <li><a href="category.html">Camera Cases</a></li>
              <li><a href="category.html">Filters  &amp; Lenses</a></li>
              <li><a href="category.html">Lighting</a></li>
              <li><a href="category.html">Accessories</a></li>
              <li><a href="ecommerce.html">All Categories</a></li> -->
            </ul>
          </li>
        </ul>
    <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'users:shoppingCartDisplay' %}"><span class="badge pull-right">{{nums}}</span><i class="glyphicon glyphicon-shopping-cart"></i></a></li>
          <li><a href={% url 'users:manage'  %}><i class="glyphicon glyphicon-user"></i></a></li>
          <li><a href="{% url 'users:login-index' %}" data-toggle="modal" data-target="#myModal">Sign in</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
    </div> <!-- /.container-fluid -->
  </nav>
   <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h2 class="modal-title" id="myModalLabel">Sign in</h2>
        </div>
        <div class="modal-body">
          <form class="form-signin" role="form">
            <h3 class="form-signin-heading">Sign in with your email address</h3>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Email address" required autofocus>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Password" required>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          </form>
        </div>

        <div class="row">
          <div class="col-xs-3">
            <a href="#" class="btn btn-facebook btn-large btn-caps btn-block">First time shopping with us? Please click here to register. <span class="icon-facebook"></span></a>
          </div>
          <div class="col-xs-3">
            <a href="" class="btn btn-lg btn-caps btn-block"> <span class="icon-dribbble"></span></a>
          </div>
        </div>

        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

  <!-- Page Content -->
  <div id="content" class="container">

    <div class="row carousel-holder">

      <div class="col-md-12">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="item active">
              <img class="slide-image" src={% static 'products/img/1.jpg' %} alt="" />
            </div>
            <div class="item">
              <img class="slide-image" src={% static 'products/img/2.jpg' %} alt="" />
            </div>
            <div class="item">
              <img class="slide-image" src={% static 'products/img/3.jpg' %} alt="" />
            </div>
          </div>

          <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>

    </div>
	<hr />
    <div class="row">
      <div class="col-sm-4 col-md-3">
        <h3>Categories</h3>
        <div class="list-group">
          {% for category in categories %}
          <a href="category.html" class="list-group-item">{{category.name}}</a>
          {% endfor %}
        </div>
      </div>
	  <div class="col-sm-8 col-md-9">
        <div class="row">
    {% for product in products %}
		<div class="col-sm-6 col-md-4">
            <div class="thumbnail">

              <div class="add-to-cart">
                <a href="#" class="glyphicon glyphicon-plus-sign" data-toggle="tooltip" data-placement="top" title="Add to cart"></a>
              </div>
              <div class="caption">
                <h4 class="pull-right">{{product.price}}</h4>
                <h4><a href="{% url 'products:item_description' id=product.id %}">{{product.name}}</a>
                </h4>
                <p>{{product.description}}</p>
                <div class="ratings">
                  <p class="pull-right"><a href="product.html#comments">15 reviews</a></p>
                  <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}


		</div>
	  </div>
    </div>
    </div>
  </div> <!-- /.container class with content as the id-->



 <!-- jQuery Version 1.11.0 -->
  <script href="{% static 'users/js/jquery-1.11.1.js' %}"></script>

  <!-- Bootstrap Core JavaScript -->
  <script href="{% static 'users/js/bootstrap.js' %}"></script>
  </body>
</html>
