<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
    {% load staticfiles %}
  <title>Add Products</title>

  <!-- Bootstrap Core CSS -->
  <link href="{% static "users/css/bootstrap.css" %}" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="{% static "users/css/style.css" %}" rel="stylesheet">
   <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
   <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
 <!-- jQuery is used only for this example; it isn't required to use Stripe -->
 <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

 <!-- New section -->
 <script type="text/javascript">
   // Fill in your publishable key
   Stripe.setPublishableKey('YOUR_PUBLISHABLE_KEY');

   var stripeResponseHandler = function(status, response) {
     var $form = $('#payment-form');

     if (response.error) {
       // Show the errors on the form
       $form.find('.payment-errors').text(response.error.message);
       $form.find('button').prop('disabled', false);
     } else {
       // token contains id, last4, and card type
       var token = response.id;
       // Insert the token into the form so it gets submitted to the server
       $form.append($('<input type="hidden" name="stripeToken" />').val(token));
       // and re-submit
       $form.get(0).submit();
     }
   };

   jQuery(function($) {
     $('#payment-form').submit(function(e) {
       var $form = $(this);

       // Disable the submit button to prevent repeated clicks
       $form.find('button').prop('disabled', true);

       Stripe.card.createToken($form, stripeResponseHandler);

       // Prevent the form from submitting with the default action
       return false;
     });
   });
 </script>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

 <body>
  <!-- Navigation -->
  <nav class="navbar-inverse" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href = "{% url 'users:frontpage' %}">(re)define Photography Supply</a>
      </div>
       <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
          <li>{{user.first_name}} {{user.last_name}}</li>


        </ul>
		</div><!-- /.navbar-collapse -->
    </div> <!-- /.container-fluid -->
  </nav>
  <!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add new product</h4>
      </div>
      <div class="modal-body">
        <form action="{% url 'products:create_product'%}" method="POST" id="addproduct">
          <fieldset>
          <!-- image upload -->
          <form action="#" method="post" enctype="multipart/form-data">{% csrf_token %}
            <p><input id="id_image" type="file" class="" name="image"></p>
          </form>
          <!-- end image upload -->
           <input type="text" class="form-control" placeholder="Product name" name="product_name"/>

          <input type="text" class="form-control" placeholder="Price" name="product_price"/>


              <label for="categoryid">Category:
              <select name="categoryid" placeholder="Category">
              <option value="new">New Category</option>
              {% for category in categories %}
                <option value="{{category.id}}">{{category.name}}</option>
              {% endfor %}
              </select>
              </label>
          <input type="text" name="categorynew" placeholder="New Category" />
          <input type="text" name="quantity" placeholder="Quantity" />
<!--           <input type="text" class="form-control" placeholder="Tags (Please seperate each tag with a comma. Example: Black,33mm,Digital,etc)" name="product_tags"/> -->
          <br>
           <input type="text" class="descriptor"  placeholder="product description" name="product_desc"/>


        </fieldset>
            </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" form="addproduct" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
   <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h2 class="modal-title" id="myModalLabel">Sign in</h2>
        </div>
        <div class="modal-body">
          <form class="form-signin" role="form">
            <h3 class="form-signin-heading">Sign in with your email address</h3>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Email address" required autofocus>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Password" required>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          </form>
        </div>

        <div class="row">
          <div class="col-xs-3">
            <a href="#" class="btn btn-facebook btn-large btn-caps btn-block">
            New here? Please click here to register. <span class="icon-facebook"></span></a>
          </div>
          <div class="col-xs-3">
            <a href="" class="btn btn-lg btn-caps btn-block"> <span class="icon-dribbble"></span></a>
          </div>
        </div>

        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->

  <!-- Page Content -->
  <div id="content" class="container">
   <div class="row">
       <div id="content" class="container">
   <div class="row">
     <div class="col-md-3">


        </div>
      </div>

<div class="col-sm-6" style="width:930px">
              <h4 class="pull-right">{{item.price}}</h4>
              <h4><a href="#">{{item.name}}</a></h4>


      <form class="shipping_area" action="{% url 'users:generate_order' %}" method="post">
        <h3>Shopping Cart Contents</h3>
        {% for item in items %}
        <div class="thumbnail">
          <div class="row">
            <div class="col-sm-1">
              <img class="img-responsive" src="http://placehold.it/750x600" alt="" />
            </div>
            <div class="col-sm-4">
              <a href="#">{{item.2}}</a>
              <input type="hidden" name="name" value="{{item.2}}">
            </div>
            <div class="col-sm-1">
             Quantity:{{item.1}}
             <input type="hidden" name="quantity" value="{{item.1}}">
            </div>
            <div class="col-sm-2">
              Price: {{item.3}}
              <input type="hidden" name="price" value="{{item.3}}">

              <a href = "{% url 'users:shoppingCartDelete' id=item.4 %}">Delete</button></a>
            </div>
          </div>
        </div>
        {% endfor %}
            </div>
        </div>
            Total: {{total}}<br>
            <input type="hidden" name="total" value="{{total}}">
        <a href="{% url 'users:resetShoppingCart' %}">Reset Shopping Cart</a>
	 </div>


      <form class="shipping_area" action="{% url 'users:generate_order' %}" method="post">

<center>
        <div class="thumbnail">
          <div class="row">
            <div class="col-sm-1">
        <div id="shipping">
      {% csrf_token %}
      <h2>Shipping Information</h2>
      Name: <input type="text" name="ship_name"><br>
      Address: <input type="text" name="shipping_address"><br>
      City: <input type="text" name="city"><br>
      State: <input type="text" name="state"><br>
      Zipcode: <input type="text" name="zipcode"><br>
            </div>
                </div>
                </div>
              <div class="thumbnail">
          <div class="row" style="align-content:right">
            <div class="col-sm-1" style="align-content: center">
                <div id="billing" style="display:inline-block">
      <h2>Billing Information</h2>
      Name: <input type="text" name="bill_name"><br>
      Address: <input type="text" name="billing_address"><br>
      City: <input type="text" name="city"><br>
      State: <input type="text" name="state"><br>
      Zipcode: <input type="text" name="zipcode"><br>
                    </div>
                </div>
                </div>

              <a href = "">Delete</button></a>
            </div>
          </div>
        </div>

</center>
<!-- Now change all the name attributes on your credit card inputs to data-stripe instead -->
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_QmQZ1a4z8A7QATPo3wlU6JET"
    data-amount="{{total}}"
    data-name="(re)defign Photagraphy"
    data-description="Pay Us Yo!"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto">
  </script>
</form>
</body>
   </div>
  </div>
</div>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript" src="{% static "users/js/jquery-1.11.1.js" %}"></script>
<script type="text/javascript" src="{% static "users/js/bootstrap.js" %}"></script>
 </body>
</html>
