<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Log in</title>
<style>
    .registerDiv{
        padding:10px;
        border:3px solid black;
        border-radius:5px;
        margin-left:30px;
        margin-top:20px;
        height:340px;
        width:250px;
        display:inline-block;
        margin-right:120px;

    }
    .login{
        vertical-align:top;
        padding:10px;
        border:3px solid black;
        border-radius:5px;
        margin-top:20px;
        margin-right:10px;
        margin-left:00px;
        height:200px;
        width:230px;
        display:inline-block;
    }

</style>
  <!-- Bootstrap Core CSS -->
  {% load staticfiles %}
  <link href="{% static 'users/css/bootstrap.css' %}" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="{% static 'users/css/style.css' %}" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!-- [if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  [endif] -->
</head>

 <body>
  <!-- Navigation -->
  <nav class="navbar-inverse" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">(re)define Photography Supply</a>
      </div>
       <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav navbar-right">
          <li>{{user.first_name}} {{user.last_name}}</li>


          <li><a href="{% url 'users:logout' %}" data-toggle="modal" data-target="#myModal">Log out</a></li>
        </ul>
		</div><!-- /.navbar-collapse -->
    </div> <!-- /.container-fluid -->
  </nav>

  <!-- Page Content -->

  <div id="content" class="container">
l
	 <div class="col-md-9">
<div id="content" class="container">
  <div class="row">
      <div class="col-sm-4 col-md-3">
          <div class = "registerDiv">

				<form action = "{% url 'users:register' %}" method = "post">
					{% csrf_token %}
<center>					 <h3>Register</h3>
					<div class = "left">
						First Name: <input type = "text" name = "first_name"><br>
						Last Name: <input type = "text" name = "last_name"><br>
						Email: <input type = "text" name = "email"><br>
						Password: <input type = "text" name = "password"><br>
						Password Confirm:<input type = "text" name = "confirm_password"><br>
						Admin:<select name = "adminStatus">
								<option name="False">False</option>
								<option name="True">True</option>
								</select> Select False to see frontend content; True to see backend administrative controls.
					</div>
					<div class = "right">

					  <button class="btn btn-sm btn-success">Register</button><a>
</center>					</div>

				</form>
        <form class="login" action="{% url 'users:login' %}" method="post">
          {% csrf_token %}
          Email: <input type="text" name="email"><br>
          password: <input type="text" name="password">
          <input type="submit" value="Login">

        </form>
			</div>

		</div>
<div class="row">
            <div class="col-md-2">

<center>


            </center>
	</body>
</html>

            </div>


        </div>
	 </div>
   </div>
  </div>  <!-- div element with the content as id and a .container class -->

  <!-- jQuery Version 1.11.0 -->
  <script href="{% static 'users/js/jquery-1.11.1.js' %}"></script>

  <!-- Bootstrap Core JavaScript -->
  <script href="{% static 'users/js/bootstrap.js' %}"></script>
 </body>
</html>
