<html lang="en">
	<head>
		<meta charset = "UTF-8">
		<title>Order Manager</title>
	</head>
	<body>
		<div class = "wrapper">
			<h2>Welcome {{user.first_name}}!</h2>
			<div class = "banner">
				Dashboard Orders Products <a href="">Log Off</a>
			</div>
			<div class = "subBanner">
				<input name = "search">
				<select>
					<option>Show All</option>
					<option>Order in Process</option>
					<option>Shipped</option>
				</select>
			</div>
			<div class = "tableWrapper">
				<table>
					<tr>
						<th>Order ID</th>
						<th>Name</th>
						<th>Date<th>
						<th>Billing Address</th>
						<th>Total</th>
						<th>Status</th>
					</tr>
					{% for order in orders %}
					<tr>
						<td>{{order.id}}</td>
						<td>{{order.customer.first_name}}</td>
						<td>{{order.created_at}}</td>
						<td>{{order.ship_to}}</td>
						<td>{{order.total_price}}</td>
						<td>
							<form action = "status/{{order_id}}" method= "POST">
								<select name = "order_status">
									<option name="shipped">Shipped</option>
									<option name="cancelled">Cancelled</option>
									<option name="order_in_process">Order in process</option>
								</select>
								{% csrf_token %}
							</form>
						</td>
					</tr>
					{% endfor %}
				</table>
			</div>
			<a href=
		</div>
	</body>
</html>